//@import "compass";

// external font
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500);

// base path
$base-path: '/bundles/edge5frontend';

// colors
$white: #fff;
$black: #000;

// fonts & text

// font families
$frutigernextpro-light: frutigernextpro-light;
$frutigernextpro-heavy-cn: frutigernextpro-heavy-cn;
$base-font: $frutigernextpro-light, Helvetica, Arial, sans-serif;
$body-font: frutigernextpro-light;

// text
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-color: $black;
$font-size: 14px;

$font-size-smaller: 13px;
$font-size-smallest: 12px;

// Font Weight
$light: 100;
$normal: 300;
$bold: 700;



// Z-index management
$z-index: (
    modal: 200,
    navigation: 100,
    footer: 90,
    triangle: 60,
    navigation-rainbow: 50,
    share-type: 41,
    share: 40,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}
